.tab-container {
  display: flex;
  position: sticky;
  top: 0px;
  word-break: keep-all;
  overflow-x: auto;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
}


.tab {
  padding: 15px 25px;
  cursor: pointer;
  color: #666;
  background-color: white;
  position: relative;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #2196f3;
}

.tab.active {
  color: #2196f3;
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for movement */
}
