.topbar-container {
  width: 100%;
  position: fixed; /* Ensures the topbar stays fixed at the top */
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000; /* Ensures it's above other elements */
  
}

.tab-container-container {
  width: 100%;
  background-color: white;
  position: sticky; /* Ensures the tab section stays within the topbar */
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.tab-container {
  display: flex;

  word-break: keep-all;
  overflow-x: auto;
 position: sticky;
 top: 0;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  /* justify-content: center; */
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  
 
}


.tab {
  padding: 15px 25px;
  cursor: pointer;
  color: #666;
  background-color: white;
  position: relative;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #2196f3;
}

.tab.active {
  color: #2196f3;
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for movement */
}
