* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sidebar container */
  .sidebar {
    width: 90px;
    height: 100vh;
    background-color: #ffffff;
    color: #2c3e50;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 1000;
    border-right: 0.011px solid rgba(0, 0, 0, 0.288);
    border-left: 0.011px solid rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  span.user_name {
    text-wrap: wrap;
  }
  /* Responsive sidebar */
  @media (max-width: 800px) {
    .sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      top: unset;
      width: 100vw;
      height: 80px;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      background-color: #ffffff;
      border-top: 0.011px solid rgba(0, 0, 0, 0.288);
      border-right: none;
    }
  
    .sidebar-logo {
      display: none;
    }
  
    .sidebar-icon {
      font-size: 11px;
    }
  }
  
  /* Logo styling */
  .sidebar-logo {
    width: 55px;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /* Sidebar item styling */
  .sidebar-item {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Text styling for new item */
  .sidebar-text {
    font-size: 10px;
    background-color: red;
  }
  
  /* Sidebar link and icon styling */
  .sidebar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ensure icons and text are centered */
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 6px;
    color: #2c3e50;
  }
  .sidebar-link:active {
    transform: scale(0.95);
  }
  button.sidebar-link {
    border: none;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hover effect */
  .sidebar-link:hover {
    background-color: #f0f0f0;
  }
  
  /* Icon styling */
  .sidebar-icon {
    font-size: 21px;
    margin-bottom: 5px;
    color: #2c3e50;
  }
  
  /* Last item styling (for user/account link) */
  .last-item {
    margin-top: auto;
  }
  
  /* Active link style */
  .active {
    background-color: #72777e3d;
    
  }

  .sidebar-button:active {
transform: scale(0.95);
  }