.url-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 100%;
  }
  .input-url {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-size: 0.875rem;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
    resize: none;
    outline: none;
  }
  /* Status colors */
  .input-url.available {
    border-color: #22c55e;
  }
  
  .input-url.taken {
    border-color: #ef4444;
  }
  
  .input.error {
    border-color: #f59e0b;
  }
  
  /* Icon positioning */
  .icon-container {
    position: absolute;
    right: 12px;
   top: 50%;
   transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 22px;
    height: 22px;
    transition: 0.3s ease-in-out;
  }
  
  /* Colors */
  .success {
    color: #22c55e;
  }
  
  .error {
    color: #ef4444;
    
  }
  
  .loading {
    color: #f59e0b;
    animation: spin 1s linear infinite;
  }
  
  /* Loading animation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .icon.warning {
    transform: translateY(-120%)
  }

  .error-text {
    margin-top: 10px;
    padding: 10px;
    font-weight: 500;
  }