.tab-container {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #ffffff;
  }
  
  .tab {
    padding: 15px 30px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #555555bd;
    transition: color 0.3s ease;
  }
  
  .tab:hover {
    color: #007bff;
  }
  
  .tab.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .indicator {
    height: 3px;
    background: #007bff;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
  }
  
  /* .content {
    padding: 20px;
    font-size: 16px;
    color: #333;
  }
   */