* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.mainContainerNavbar {
  width: 100%; /* Avoid 100vw to prevent scrollbar issues */
}

.navbar {
  display: flex;
  flex-wrap: wrap; /* Handle overflow gracefully */
  background-color: dodgerblue;
  width: 100%; /* Ensure full width of parent */
  padding: 0.5rem 5%; /* Padding adds inner spacing */
  justify-content: space-between; /* Space out items */
  align-items: center; /* Center items vertically */
   /* Prevent visual overflow */
}

.loginButton {
  max-width: 100%; /* Prevent button overflow */
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.loginButton svg {
  height: 24px;
}
.loginButton:hover {
  transform: scale(1.02);
}