.phoneView {
  position: sticky;
  top: 0;
  left: 0;
  width: 315px; /* Fixed width for the phone view */
  height: 500px; /* Typical height for a phone view */
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 7px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll; /* Prevent content from overflowing */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (max-width:800px) {
  .phoneView {
    display: none;
  }
}
.phoneView h1 {
  word-break: break-word;
  font-size: 1.25rem; /* Adjust font size for title */
  text-align: center;
  margin-bottom: 0.5rem;
}

.phoneView p {
  word-break: break-word;
  font-size: 1rem; /* Slightly larger for readability */
  color: gray; /* Use template text color */
  text-align: center;
  margin-bottom: 1rem;
}
.linkItem .link {
  display: block;
  text-align: center;
  padding: 0.55rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit; /* Use template text color */
  border-radius: 4px; /* Default border radius */
  transition: all 0.3s ease;
}

