.phoneView {
    width: 35%;
    height: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items:center;
    position: sticky;
    right: 0;
    top: 0;
    border-left: 0.01px solid gray;
    padding-left: 0px;
   
   
  }
  
  .phoneView .iphoneFrame {
    width: 100%;
    max-height: 100%;
    position: relative; /* iPhone frame stays relative to the parent */
    z-index: 2; /* Ensure the frame is above the iframe */
  }
 
  iframe {
    position: absolute;
  
    /* Adjust to match the screen's top position on the iPhone */
    /* Adjust to match the screen's left position on the iPhone */
    width: calc(100% - 20px); /* Adjust to fit the screen's width */
    height: 507px; /* Adjust to fit the screen's height */
    z-index: 1; /* Ensure the iframe stays behind the frame */
    border: none; /* Remove the border for a cleaner look */
    border-radius: 30px;
  }
  