.link-icon-new-card {
    font-size: 1.1rem;
    
} 

.link-icon-favicon-new-card {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 4px;

    /* Turns it into black & white but still keeps details */
 
    
   
}
.profile-image-preview {
    width: 70px;  /* Adjust size */
    height: 70px;
    border-radius: 50%; /* Circular image */
    object-fit: cover; /* Ensure the image doesn't stretch or distort */
    border: 2px solid #ccc;  /* Border around the image */
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
}