* {
  font-family: "Inter", serif;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  align-items: center; /* Keep for desktop */
}

@media (max-width: 768px) {
  #root {
    align-items: stretch; /* Allow full-width alignment on smaller screens */
  }
}
